.DS_Store

# Compiled site
_site

# Site config
_config.yml
_config.dev.yml

start_server.bat
run_build.bat

# Sass garbage
.sass-cache

# Bundler
.bundle/
vendor/

.idea
.idea/*

.sass-cache
.sass-cache/*

_site
