{% assign items_text = site.data.translations[page.locale] %}

<div class="home">
  <div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
    <div class="scrim {% if site.cover %}has-cover{% endif %}">
      <header class="site-header">
        <h1 class="title">{{ site.title }}</h1>
        {% if items_text.subtitle %}<p class="subtitle">{{ items_text.subtitle }}</p>{% endif %}
      </header>
    </div>
  </div>

  <div class="wrapper">
    <div class="content-with-sidebar">
      <!-- Main content area -->
      <main class="main-content">
        <ul class="post-list">
          {% for post in paginator.posts %}
          <li>
            <div data-aos="fade-in">
              <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
              <section class="post-excerpt" itemprop="description">
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                  <img class="post-excerpt-image" src="{{ post.thumbnail | prepend: site.baseurl }}" />
                </a>
                <p class="post-excerpt-text">{{ post.content | strip_html | truncatewords: 50 }}</p>
                {% assign words = post.content | number_of_words %}
              </section>
              <section class="post-meta">
                <div class="post-date">{{ items_text.reading_time }}: <strong>{% if words < 360 %} 1 {{items_text.minute}} {% else %} {{ words | divided_by:180 }} {{items_text.minutes}} {% endif %}</strong></div>
                <div class="post-categories">{{ items_text.posted }} {{ post.date | date: "%d-%m-%Y" }}
                  {% if post.categories.size > 0 %} {{ items_text.in }} {% for cat in post.categories %}
                  <a href="{{ site.baseurl }}/category/{{ post.locale }}/{{ cat }}">{{ cat | capitalize }}</a>{% if forloop.last == false %}, {% endif %}
                  {% endfor %}{% endif %}
                </div>
              </section>
            </div>
          </li>
          {% if forloop.last == false %}
          <hr>
          {% endif %}
          {% endfor %}
        </ul>

        <nav class="pagination" role="navigation">
          <p>
            {% if paginator.previous_page %}
            {% if paginator.page >= 2 %}
            <a class="newer-posts" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            {% else %}
            <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
            </span>
            {% endif %}
            {% else %}
            <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
            </span>
            {% endif %}
            <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
            {% if paginator.next_page %}
            <a class="newer-posts" href="{{ site.baseurl }}{{ paginator.next_page_path }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            {% else %}
            <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
            </span>
            {% endif %}
          </p>
        </nav>
      </main>

      <!-- Year Archives Sidebar -->
      <aside class="sidebar">
        <div class="sidebar-widget">
          <h3 class="sidebar-title">
            {% if page.locale == 'en_US' %}Archives{% else %}Archiwa{% endif %}
          </h3>

          {% comment %}
          Filter posts by current page locale and group by year
          {% endcomment %}
          {% assign current_locale_posts = site.posts | where: 'locale', page.locale %}
          {% assign posts_by_year = current_locale_posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
          {% assign sorted_years = posts_by_year | sort: 'name' | reverse %}

          {% if sorted_years.size > 0 %}
            <ul class="archive-years">
              {% for year_group in sorted_years %}
                <li class="archive-year">
                  <a href="{{ site.baseurl }}/{{ page.locale | default: "en" | replace: "-", "_" | split: "_" | first | downcase }}/archives/{{ year_group.name }}/"
                     class="archive-link">
                    {{ year_group.name }}
                    <span class="post-count">({{ year_group.items | size }})</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <p class="no-archives">
              {{ items_text.no_posts_available }}
            </p>
          {% endif %}
        </div>
      </aside>
    </div>
  </div>
</div>