---
layout: default
cover:  "/assets/tags_header.jpg"
---
{% assign items_text = site.data.translations[page.locale] %}
<div class="post">

<div class="post-header-container {% if page.cover %}has-cover{% endif %}" {% if page.cover %}style="background-image: url({{ page.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if page.cover %}has-cover{% endif %}">
    <header class="post-header">
      <h1 class="title">{{ items_text['tag_line'] }} <em>{{ page.tag | capitalize }}</em></h1>
    </header>
  </div>
</div>

<div class="wrapper">

  <article class="post-content">
    <ul class="posts-list">
      {% for post in site.posts %}
			{% if post.tags contains page.tag and post.locale == page.locale %}
      <li><strong><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></strong><span class="post-date"> - {{ post.date | date: "%B %-d, %Y" }}</span></li>
			{%endif%}
			{% endfor %}
    </ul>
  </article>

</div>
</div>
<br>
